In [1]:
import pandas as pd

In [2]:
amd_df = pd.read_csv("scrapping/amd/tableExport.csv")

In [3]:
amd_df = amd_df.loc[:,['Model', 'Default TDP', 'AMD Configurable TDP (cTDP)','GPU Base']]
amd_df.head()

,Model,Default TDP,AMD Configurable TDP (cTDP),GPU Base
0,AMD Ryzen™ 9 5950X,105W,NaN,NaN
1,AMD Ryzen™ 7 5800X3D,105W,NaN,NaN
2,AMD Ryzen™ 9 5900X,105W,NaN,NaN
3,AMD Ryzen™ 9 5900 (OEM Only),65W,NaN,NaN
4,AMD Ryzen™ 7 5800X,105W,NaN,NaN

In [4]:
amd_df['Default TDP'] = amd_df['Default TDP'].str.extract("([0-9\.]+)").astype(float)

In [5]:
amd_df.head()

,Model,Default TDP,AMD Configurable TDP (cTDP),GPU Base
0,AMD Ryzen™ 9 5950X,105.0,NaN,NaN
1,AMD Ryzen™ 7 5800X3D,105.0,NaN,NaN
2,AMD Ryzen™ 9 5900X,105.0,NaN,NaN
3,AMD Ryzen™ 9 5900 (OEM Only),65.0,NaN,NaN
4,AMD Ryzen™ 7 5800X,105.0,NaN,NaN

In [9]:
amd_df.to_csv("scrapping/amd/amd_processor_specifications.csv")